.navbar-container{
    box-sizing: border-box;
    

    .navbar-items{
        display: flex;
        justify-content: space-between;
        align-items: center;


        .nc-leftpart{
            display: flex;
            column-gap: 30px;
            padding: 0px 220px;


            .item-name{
                padding: 20px 2px;
                
            }

            .item-name:hover{
                background-color: rgba(235, 235, 235, 0.436);
                cursor: pointer;
            }
    

        }

        .nc-logo{
            height: 35px;
            width: 35px;
            display: flex;
            position: relative;
            left: -82px;

        }

        .nc-rightpart{
            display: flex;
            column-gap: 50px;
            padding: 0px 220px;
            justify-content: center;
            align-items: center;



            .cw-btn{
                padding: 6px 14px;
                border-radius: 60px;
                font-size: 15px;
                background-color: #1f1c1d;
                color: white;
                font-weight: 600;
                border: none;
            }

        }
    }
}