.summary-container {
    box-sizing: border-box;
    background-image: linear-gradient(to right, #26e375, #a6e9a3);
    height: 240px;
    margin-bottom: -140px;

    .summary-items {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 250px;

        .sitem-name {
            color: white;
            font-family: 'Lato', sans-serif;
            text-align: center;

            .title {
                font-weight: 700;
            }

            .amount {
                font-weight: 600;
                line-height: 0em;
                font-size: 20px;
            }

        }
    }
}